h1{
    font-size: 50px;
}

.btn_orange{
    background-color: #cd3d0f;
}

/* xs 576px */

/* HEADER */

/* logo sony */
img[alt="logo sony"]{
    height: 15px;
}

/* menu */
.menu_burger{
    display: block;
    justify-content: space-between;
}

.menu_lungo{
    display: none;
}

/* jumbo */
.jumbotron{
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

img[alt="returnal logo"]{
    height: 80px;
}


/* MEDIA QUERY */


/* lg 992px */
@media screen and (min-width: 992px){
    .menu_burger{
        display: none;
    }
    .menu_lungo{
        display: flex;
    }
}