body{
    overflow-x: hidden;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 45px;
}

.btn_orange{
    background-color: #cd3d0f;
}

.btn_marrone{
    background-color: #d9dadc;
}

.scritta_blu{
    color: #0072ce;
}

img:not(img[alt="logo sony"]):not(.logo):not(.hero):not(img[alt="it takes two"]):not(img[alt="playstation plus"]):not(img[alt="playstation now"]):not(img[alt="logo play"]):not(img[alt="sie logo"]):not(img[alt="playstation menu icona"]){
    width: 100%;
}

/* xs fino a 575px */

/* HEADER */

/* logo sony */
img[alt="logo sony"]{
    height: 15px;
}

/* menu */
.menu_burger{
    display: block;
    justify-content: space-between;
}

.menu_lungo{
    display: none;
}

/* jumbo */
.jumbotron{
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

img[alt="returnal logo"]{
    height: 80px;
}

/* immagini giochi */
img[alt="returnal"],
img[alt="ratchet and clank"],
img[alt="tony hawks pro skater"],
img[alt="crash bandicoot 4 its about time"],
img[alt="under 20"],
img[alt="week sale"],
img[alt="free to play"]{
    border-radius: 20px;
}

/* sezione console */
.selected{
    opacity: 1;
    border-bottom: 3px solid #0072ce;
    border-radius: 2px;
}

.not_selected{
    opacity: 0.7;
}

.center span{
    display: none;
}

/* it takes two */
.takes_two{
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

img[alt="it takes two"]{
    height: 200px;
}

/* playstation plus */
.ps_plus{
    background-color: #bebcbb;
    padding: 20px 0;
}

img[alt="playstation plus"]{
    height: 70px;
}

img[alt="giochi mensili"]{
    display: none;
}

/* playstation now */
.ps_now{
    background-color: #161c3b;
    padding: 20px 0;
}

img[alt="avengers"]{
    display: none;
}

img[alt="playstation now"]{
    height: 70px;
}

/* footer */
footer{
    background-color: #00439c;
}

img[alt="logo play"]{
    height: 80px;
}

img[alt="sie logo"]{
    height: 50px;
}


/* dropdown menu */
.dropdown_menu{
    display: none;
}

nav li{
    position: relative;
}

nav li:hover .dropdown_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 210px;
    position: absolute;
    top: 20px;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
}


img[alt="playstation menu icona"]{
    height: 50%;
}


/* MEDIA QUERY */

/* sm 576px */
@media screen and (min-width: 576px){
    .center span{
        display: none;
    }

    img[alt="giochi mensili"]{
        display: none;
    }

    img[alt="avengers"]{
        display: none;
    }
}

/* md 768px */
@media screen and (min-width: 768px){
    .center{
        justify-content: space-between;
    }
    .center span{
        display: block;
    }

    img[alt="giochi mensili"]{
        display: block;
    }

    .ps_plus{
        padding: 0;
    }

    img[alt="avengers"]{
        display: block;
    }
}

/* lg 992px */
@media screen and (min-width: 992px){
    .menu_burger{
        display: none;
    }

    .menu_lungo{
        display: flex;
    }

}