
/* xs 576px */

/* HEADER */

/* logo sony */
img[alt="logo sony"]{
    height: 15px;
}

/* menu */
.menu_burger{
    display: block;
    justify-content: space-between;
}

.menu_lungo{
    display: none;
}



/* MEDIA QUERY */


/* lg 992px */
@media screen and (min-width: 992px){
    .menu_burger{
        display: none;
    }
    .menu_lungo{
        display: flex;
    }
}